<script src="{{ 'announcement-bar-swiper.js' | asset_url }}" defer="defer"></script>

<div class="swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
      {% if block.settings.message_enabled == true %}
        <div class="swiper-slide" data-swiper-autoplay="{{section.settings.delay}}">
          <p>{{ block.settings.message }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% style %}
  .swiper {
    width: 1272px;
  }
  .swiper-slide {
    text-align: center;
  }
{% endstyle %}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "number",
        "id": "delay",
        "label": "Enter delay for auto cycle",
        "default": 4000
      }
    ],
    "blocks": [
      {
        "type": "announcement",
        "name": "Message",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "message",
            "label": "Enter your message:"
          }, {
            "type": "checkbox",
            "id": "message_enabled",
            "label": "Enable the message",
            "default": true
          }
        ]
      }
    ]
  }
{% endschema %}
